body {
	color: #002f45;
}

main {

}

.thumbnail{
	border:none;
	text-align:center;
	max-width:200px;
	
}
.thumbnail:hover {
	opacity: 0.5;
    filter: Alpha(opacity=50); /* IE8 and earlier */

}

.navbar {
	background-color: #002f45;
	border-radius: 0px;
}
.navbar-brand {
	color: #d4effc;

}

a {
	color: #d4effc;
}

a.thumbnail {
	color: #ffffff;
	border-radius: 10rem;
	background-color: #9EB23B;
	width: 180px;
	height: 180px;
	
}

.img-rounded {
	
}

footer {
	margin-right: 0px;
	margin-left: 0px;
	padding-top:10px;
	padding-bottom:10px;
	background-color:#002f45;
	color: #d4effc;

}

#social {
	float:right;
}