body {
	color: #002f45;
}

.thumbnail{
	border:none;
	text-align:center;
}

.navbar {
	background-color: #002f45;
	border-radius: 0px;
}
.navbar-brand {
	color: #d4effc;

}

a {
	color: #d4effc;
}

a.thumbnail {
	color: #9EB23B;
}

.img-rounded {
	border-radius: 10rem;
}

footer {
	margin-right: 0px;
	margin-left: 0px;
	padding-top:10px;
	padding-bottom:10px;
	background-color:#002f45;
	color: #d4effc;

}